<connectionStrings>
 <!--<add name="ABO07Entities" connectionString="metadata=res://*/ABO07.csdl|res://*/ABO07.ssdl|res://*/ABO07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBORACLETEST\SQL2014;initial catalog=ABO07_EDMSA;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBORACLETEST\SQL2014;initial catalog=GALADB_EDMSA;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
 
  <add name="ABO07Entities" connectionString="metadata=res://*/ABO07.csdl|res://*/ABO07.ssdl|res://*/ABO07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IV-DEV-LAP-001;initial catalog=ABO07_EDMSA;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IV-DEV-LAP-001;initial catalog=GALADB_EDMSA;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  
  
  <!--<add name="ABO07Entities" connectionString="metadata=res://*/ABO07.csdl|res://*/ABO07.ssdl|res://*/ABO07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC\MSSQLSERVER2014;initial catalog=ABO07;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC\MSSQLSERVER2014;initial catalog=AQUATECH;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 <!--<add name="ABO07Entities" connectionString="metadata=res://*/ABO07.csdl|res://*/ABO07.ssdl|res://*/ABO07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.2.117;initial catalog=ABO07;user id=galauser;password=passgalatee;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.2.117;initial catalog=GALADB;user id=galauser;password=passgalatee;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 <!--<add name="ABO07Entities" connectionString="metadata=res://*/ABO07.csdl|res://*/ABO07.ssdl|res://*/ABO07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IWEBSQLCONN;initial catalog=ABO07;user id=galauser;password=passgalatee;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.2.192;initial catalog=GALADB;user id=sa;password=1234567;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IWEBSQLCONN;initial catalog=GALADB;user id=galauser;password=passgalatee;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="EclipseEntities_" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.50:1521/MALIMAST;password=1234567;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.25:1521/MALIMAST;password=Test1016;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.27:1525/ECLIPSE;password=Test1016;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.0.196:1521/TESTMALIMAST.COM;password=12345678;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.0.196:1521/TESTMALIMAST.COM;password=12345678;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.24:1521/MALITEST;password=12345678;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="EclipseEntities" connectionString="metadata=res://*/ECLIPSE.csdl|res://*/ECLIPSE.ssdl|res://*/ECLIPSE.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.227:1525/ECLIPSE.EDMSA.COM;password=Test1016;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ComptatEntities" connectionString="metadata=res://*/COMPTA.csdl|res://*/COMPTA.ssdl|res://*/COMPTA.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.146:1529/TEST;password=iwebs2016;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ComptatEntities" connectionString="metadata=res://*/COMPTA.csdl|res://*/COMPTA.ssdl|res://*/COMPTA.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.100.2.142:1526/PROD;password=Ebsgalatee;persist security info=True;user id=USER_IWEBS&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>


