@charset "utf-8";
/* CSS Document */

body{
    font-family:Calibri;
    color:black;


}

.textbox
{
    border:solid 1px #CCCCCC;
    background-color:#F5F5F4;
    -webkit-box-shadow: inset 1px 1px 15px 0px rgba(12, 24, 45, 124);
  box-shadow: -1px -5px 20px 5px #80b840;
    padding:8px;
    color:black;
    font-weight:300;
    font-size:14px;

}

.fieldhead{

font-size:24px;
margin-bottom:8px;
color:darkgray;


}

.textbox:focus
{
    border:solid 1px #CCCCCC;
    background-color:#f00;
    -webkit-box-shadow: inset 1px 1px 15px 0px rgba(12, 24, 45, 124);
    box-shadow: inset 1px 1px 15px 0px rgba(12, 24, 45, 124); 
    padding:5px;
    color:darkgrey;
    font-weight:700;
    font-size:14px;

}

 input:focus
{
background-color:yellow;
}
