<connectionStrings>
  <add name="galadbEntities" connectionString="5/s9mfmenMDJfNF1KihKuvhcgBDq+eH9txN30gZjUBJVsJoDRWoNGmH4I4Ah2AlRx2woysHoM0K8piFyXIejMAf8dLGu0DkOud6Hkau45nE8nrT1dDGBvAmWEOOHJ6R4kAj/HgNCH9RSmV6dy9WW18wAWkfei3Obse1ZHEXAdXsY/oz5MkPkneS7h7L5j79C0dn1tVDBWKss5ZwVMTCtdb3+pXeIpt5v39BG4JbRmKjWL80qqYFx62f1nFbhG4Ur5EUHIMNL0foEpHNmnKl0DqxKU/1bN1kMPUrxC6Xe9cm+2o3ynbTw2CRCD3uLxevL" />
</connectionStrings>