<connectionStrings>
  <add name="galadbEntities" connectionString="5/s9mfmenMDJfNF1KihKuvhcgBDq+eH9txN30gZjUBJVsJoDRWoNGmH4I4Ah2AlRx2woysHoM0K8piFyXIejMAf8dLGu0DkOud6Hkau45nE8nrT1dDGBvAmWEOOHJ6R4kAj/HgNCH9RSmV6dy9WW18wAWkfei3Obse1ZHEXAdXsY/oz5MkPkneS7h7L5j79C0dn1tVDBWKss5ZwVMTCtdb3+pXeIpt5v39BG4JbRmKjWL80qqYFx62f1nFbhG4Ur5EUHIMNL0foEpHNmnKl0DqxKU/1bN1kMPUrxC6Xe9cm+2o3ynbTw2CRCD3uLxevL" />
  <add name="ABO07Entities" connectionString="pTEQBSbpmqIKneCDITKC60CgCXeme+zeCGH3XWVSBx4rsBBxMBOPaZkWfATX1IbvBn9G3stu0VBv02KUnzowshvnbuurygSt8N8t7U+UBFfy8fKZX/C1I13PxQFptG2iDFlt3JV6AtChY1ZKMmNnhFLDK9AkBPp6MlHFpDqLm5q+LAHI2PjphTPJLCNsItbr2xu2vPmVeIWhSLDq3dQ1n6SZeU0IEJowQaB4zgVuYPsJPu1V1SKfxlZ0nG6YWFnrC7rx8pOcDPx5/BIzFPM+axl7ZJEEQvFhvqMo2JyG8xAjAu2ymwMb/GOFWkAUZQb2kAvXOxh3HvNm6ZRbt3TTqwEbA9mnKCqfn2RaMdFIkcgHa0XS8g+UuFpjfzMwjRMh" providerName="System.Data.SqlClient" />
</connectionStrings>