<connectionStrings>
  <add name="ABO07Entities" connectionString="metadata=res://*/Abo07.csdl|res://*/Abo07.ssdl|res://*/Abo07.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP-SI-GAL-10;initial catalog=ABO07;user id=galauser;password=passgalatee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="galadbEntities" connectionString="metadata=res://*/GALADB.csdl|res://*/GALADB.ssdl|res://*/GALADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP-SI-GAL-10;initial catalog=GALADB;user id=galauser;password=passgalatee;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
