<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <configSections/>

    <appSettings>
      <add key="PictureUploadDirectory" value="/Pictures/"/>
      <add key="MailSender" value="EDMSA.info@edm-sa.com.ml"/>
      <add key="MailSubject" value="Votre facture du mois"/>
      <add key="MailBody" value="Bonjour. \nVeuillez trouver ci-joint votre facture du mois. \nMerci de votre fidélité."/>
      <add key="MailSmtp" value="217.64.99.36"/>
      <add key="MailPort" value="25"/>
      <add key="MailSslEnabled" value="false"/>
      <add key="MailLogin" value="a/mvVIWB/fzenke3Xxtr8nXwwTh65O11XptvSGipPN4="/>
      <add key="MailPassword" value="goFWThkX6sSqW+gTqOroaw=="/>
    
      <!--<add key="MailSmtp" value="smtp.gmail.com"/>
      <add key="MailPort" value="587"/>
      <add key="MailSslEnabled" value="true"/>
      <add key="MailLogin" value="mariamtra@gmail.com"/>
      <add key="MailPassword" value="mariam1traore"/>-->

    </appSettings>
  <!--<appSettings />-->
  <connectionStrings configSource="Connexion.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <trust level="Full" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITarificationService" closeTimeout="00:05:00"
          openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IAcceuilService" closeTimeout="00:05:00"
          openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IInitializeService" closeTimeout="00:30:00"
          openTimeout="00:00:01" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IParametrageService" openTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IDevisService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IService">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IPrintingService" closeTimeout="00:30:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IReportService" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IIndexService" closeTimeout="01:00:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="02:00:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="AdministrationBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_ICaisseService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IFacturationService" closeTimeout="05:00:00"
          openTimeout="00:10:00" receiveTimeout="05:00:00" sendTimeout="05:00:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IFraudeService" closeTimeout="05:00:00"
     openTimeout="00:10:00" receiveTimeout="05:00:00" sendTimeout="05:00:00"
     maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IInterfaceService">
          <readerQuotas maxDepth="32" maxStringContentLength="8196" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IRecouvrementService" closeTimeout="00:01:00"
          openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IReclamationService">
          <readerQuotas maxDepth="32" maxStringContentLength="8196" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_ISigService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="02:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IEserviceService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="02:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IRpntService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IMobileService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IScellesService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IEclairagePublicService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IInterfaceComptableService" closeTimeout="05:00:00"
          openTimeout="05:00:00" receiveTimeout="05:00:00" sendTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <services>
      <service behaviorConfiguration="TarificationServiceBehavior" name="WcfService.Tarification.TarificationService">
        <endpoint address="http://localhost:1820/Tarification/TarificationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITarificationService" contract="WcfService.Tarification.ITarificationService" />
      </service>
      <service behaviorConfiguration="AccueilServiceBehavior" name="WcfService.AcceuilService">
        <endpoint address="http://localhost:1820/Acceuil/AcceuilService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcceuilService" contract="WcfService.IAcceuilService" />
      </service>
      <service behaviorConfiguration="InitializeServiceBehavior" name="WcfService.AuthentInitializeService">
        <endpoint address="http://localhost:1820/AuthentInitialize/AuthentInitializeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInitializeService" contract="WcfService.IAuthentInitializeService" />
      </service>
      <service behaviorConfiguration="ParametrageServiceBehavior" name="WcfService.Parametrage">
        <endpoint address="http://localhost:1820/Parametrage/Parametrage.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParametrageService" contract="WcfService.IParametrage" />
      </service>
      <service behaviorConfiguration="DevisServiceBehavior" name="WcfService.DevisService">
        <endpoint address="http://localhost:1820/Devis/DevisService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDevisService" contract="WcfService.IDevisService" />
      </service>
      <service behaviorConfiguration="PrintingServiceBehavior" name="WcfService.Printings.PrintingsService">
        <endpoint address="http://localhost:1820/Printings/PrintingsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintingService" contract="WcfService.Printings.IPrintingsService" />
      </service>
      <service behaviorConfiguration="ReportServiceBehavior" name="WcfService.ReportService">
        <endpoint address="http://localhost:1820/Report/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="WcfService.IReportService" />
        <host>
          <timeouts openTimeout="00:30:00" />
        </host>
      </service>
      <service behaviorConfiguration="IndexServiceBehavior" name="WcfService.Index.IndexService">
        <endpoint address="http://localhost:1820/Index/IndexService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIndexService" contract="WcfService.IIndexService" />
        <host>
          <timeouts closeTimeout="02:00:00" openTimeout="02:00:00" />
        </host>
      </service>
      <service behaviorConfiguration="AdministrationServiceBehavior" name="WcfService.AdministrationService">
        <endpoint address="http://localhost:1820/Administration/AdministrationService.svc" binding="basicHttpBinding" bindingConfiguration="AdministrationBindingConfig" contract="WcfService.IAdministrationService" />
      </service>
      <service behaviorConfiguration="CaisseServiceBehavior" name="WcfService.CaisseService">
        <endpoint address="http://localhost:1820/Caisse/CaisseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICaisseService" contract="WcfService.ICaisseService" />
      </service>
      <service behaviorConfiguration="FacturationServiceBehavior" name="WcfService.FacturationService">
        <endpoint address="http://localhost:1820/Facturation/FacturationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacturationService" contract="WcfService.IFacturationService" />
      </service>
      <service behaviorConfiguration="FraudeServiceBehavior" name="WcfService.FraudeService">
        <endpoint address="http://localhost:1820/Fraude/FraudeService.svc" binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpBinding_IFraudeService" contract="WcfService.IFraudeService" />
      </service>
      <service behaviorConfiguration="InterfaceServiceBehavior" name="WcfService.InterfaceService">
        <endpoint address="http://localhost:1820/Interface/InterfaceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterfaceService" contract="WcfService.IInterfaceService" />
      </service>
      <service behaviorConfiguration="RecouvrementServiceBehavior" name="WcfService.RecouvrementService">
        <endpoint address="http://localhost:1820/Recouvrement/RecouvrementService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecouvrementService" contract="WcfService.IRecouvrementService" />
      </service>
      <service behaviorConfiguration="ReclamationServiceBehavior" name="WcfService.ReclamationService">
        <endpoint address="http://localhost:1820/Reclamation/ReclamationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReclamationService" contract="WcfService.IReclamationService" />
      </service>
      <service behaviorConfiguration="SigServiceBehavior" name="WcfService.SigService">
        <endpoint address="http://localhost:1820/SIG/SigService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISigService" contract="WcfService.ISigService" />
      </service>
      <service behaviorConfiguration="EserviceServiceBehavior" name="WcfService.EserviceService">
        <endpoint address="http://localhost:1820/Eservice/EserviceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEserviceService" contract="WcfService.IEserviceService" />
      </service>
      <service behaviorConfiguration="RpntServiceBehavior" name="WcfService.RpntService">
        <endpoint address="http://localhost:1820/Rpnt/RpntService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRpntService" contract="WcfService.IRpntService" />
      </service>

      <service behaviorConfiguration="ScellesServiceBehavior" name="WcfService.Scelle.ScellesService">
        <endpoint address="http://localhost:1820/Scelles/ScellesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScellesService" contract="WcfService.Scelle.IScellesService" />
      </service>
      
      <service behaviorConfiguration="EclairagePublicBehavior" name="WcfService.EclairagePublicService">
        <endpoint address="http://localhost:1820/EclairagePublic/EclairagePublicService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEclairagePublicService" contract="WcfService.IEclairagePublicService" />
      </service>
      <service behaviorConfiguration="InterfaceComptaBehavior" name="WcfService.InterfaceComptableService">
        <endpoint address="http://localhost:1820/InterfaceComptable/InterfaceComptableService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterfaceComptableService" contract="WcfService.IInterfaceComptableService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TarificationServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="AccueilServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="InitializeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer />
        </behavior>
        <behavior name="ParametrageServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
        <behavior name="DevisServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ServiceBehavior">
          <dataContractSerializer />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="PrintingServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ReportServiceBehavior">
          <dataContractSerializer />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="IndexServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
        <behavior name="AdministrationServiceBehavior">
          <dataContractSerializer />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="CaisseServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer />
        </behavior>
        <behavior name="FacturationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
             <behavior name="FraudeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
        <behavior name="RecouvrementServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ReclamationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SigServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="InterfaceServiceBehavior">
          <dataContractSerializer />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EserviceServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="RpntServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MobileServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ScellesServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="EclairagePublicBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="InterfaceComptaBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="False" multipleSiteBindingsEnabled="False" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "E:\GALATEE WEB\Galatee.WcfService\App_Data\LOG GALATEE\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>